<ng-template #templateRef let-attr="attributes">
  <router-outlet></router-outlet>

  <div
    [attributes]="attr()"
    [excludes]="['class']"
    [class]="attr()?.class | mergeClass: ('dock' | cssPrefix) : wrapperClass$()"
  >
    @for (option of list(); track $index) {
      @let router = option.router;
      <button
        (click)="toggleActivate($index)"
        [queryParams]="router.queryParams"
        [fragment]="router.fragment"
        [queryParamsHandling]="router.queryParamsHandling"
        [state]="router.state"
        [info]="router.info"
        [relativeTo]="router.relativeTo"
        [target]="router.target"
        [preserveFragment]="router.preserveFragment"
        [skipLocationChange]="router.skipLocationChange"
        [replaceUrl]="router.replaceUrl"
        [routerLink]="router.routerLink"
        [preserveFragment]="router.preserveFragment"
        routerLinkActive="dock-active"
        [routerLinkActiveOptions]="router.activate?.routerLinkActiveOptions ?? { exact: false }"
        [ariaCurrentWhenActive]="router.activate?.ariaCurrentWhenActive ?? undefined"
      >
        @let icon = option['icon']!;
        <mat-icon
          [inline]="icon.inline"
          [fontIcon]="icon.fontIcon!"
          [fontSet]="icon.fontSet!"
          [svgIcon]="icon.svgIcon!"
        ></mat-icon>
        @let title = option['title'];

        @if (title) {
          <span [class]="'dock-label' | cssPrefix">{{ title }}</span>
        }
      </button>
    }
  </div>
</ng-template>
