<ng-template #templateRef let-attr="attributes">
  @let activatedField = children$$()[activatedIndex$()];
  @if (activatedField) {
    <ng-container
      *ngTemplateOutlet="fieldTemplateRef(); context: { $implicit: activatedField }"
    ></ng-container>
  }

  <div
    [attributes]="attr()"
    [excludes]="['class']"
    [class]="attr()?.class | mergeClass: ('dock' | cssPrefix) : wrapperClass$()"
  >
    @for (field of children$$(); track $index) {
      @let item = field.props();
      <button
        (click)="toggleActivate($index)"
        [class]="$index === activatedIndex$() ? ('dock-active' | cssPrefix) : ''"
      >
        @if (item['icon']; as icon) {
          <mat-icon
            [inline]="icon.inline"
            [fontIcon]="icon.fontIcon"
            [fontSet]="icon.fontSet"
            [svgIcon]="icon.svgIcon"
          ></mat-icon>
        }
        @if (item['title']) {
          <span [class]="'dock-label' | cssPrefix">{{ item['title'] }}</span>
        }
      </button>
    }
  </div>
</ng-template>
