<ng-template #templateRef let-attr="attributes">
  <div
    class="btn"
    [class]="attr()?.class"
    [attributes]="attr()"
    [excludes]="['class']"
    [ngClass]="wrapperClass$()"
  >
    @if (animatePing()) {
      <div class="inline-grid *:[grid-area:1/1]">
        <div
          class="status animate-ping"
          [class.animate-bounce]="animateBounce()"
          [class]="statusClass$$()"
        ></div>
        <div
          class="status"
          [class.animate-bounce]="animateBounce()"
          [class]="statusClass$$()"
        ></div>
      </div>
    } @else {
      <div class="status" [class.animate-bounce]="animateBounce()" [class]="statusClass$$()"></div>
    }
    @if (value(); as value) {
      <span>
        {{ value }}
      </span>
    }
  </div>
</ng-template>
