<ng-template #templateRef let-attr="attributes">
  <div
    [attributes]="attr()"
    [excludes]="['class']"
    [class]="attr()?.class | mergeClass: ('card' | cssPrefix) : wrapperClass$()"
  >
    @if (figureFiled$$(); as field) {
      <figure [class]="figureClass()">
        <ng-container
          *ngTemplateOutlet="fieldTemplateRef(); context: { $implicit: field }"
        ></ng-container>
      </figure>
    }
    <div [class]="bodyClass() | mergeClass: ('card-body' | cssPrefix)">
      @if (titleFiled$$(); as field) {
        <h2 class="{{ 'card-title' | cssPrefix }}">
          <ng-container
            *ngTemplateOutlet="fieldTemplateRef(); context: { $implicit: field }"
          ></ng-container>
        </h2>
      }
      @if (bodyChildren$$(); as bodyChildren) {
        <p>
          @for (field of bodyChildren; track $index) {
            <ng-container
              *ngTemplateOutlet="fieldTemplateRef(); context: { $implicit: field }"
            ></ng-container>
          }
        </p>
      }
      @if (actionsFiled$$(); as field) {
        <div [class]="actionsClass() | mergeClass: ('card-actions' | cssPrefix)">
          <ng-container
            *ngTemplateOutlet="fieldTemplateRef(); context: { $implicit: field }"
          ></ng-container>
        </div>
      }
    </div>
  </div>
</ng-template>
