<ng-template #templateRef let-attr="attributes">
  <div class="overflow-x-auto" [attributes]="attr()">
    <table [class]="'table' | cssPrefix | mergeClass: wrapperClass$$()">
      @let headList = headList$$();
      @if (headList.length) {
        <thead>
          @for (item of headList; track $index) {
            <ng-container
              [selectlessOutlet]="StrOrTemplateComponent"
              [selectlessOutletInputs]="selectorlessInput | pure: item"
            ></ng-container>
          }
        </thead>
      }
      @let bodyList = bodyList$$();
      @if (bodyList.length) {
        <tbody>
          @for (item of list$$(); track trackBy()($index, item)) {
            @let id = trackBy() | pure: $index : item;
            @let itemData = getItemData | pure: id : item;
            @for (row of bodyList; track $index) {
              <ng-container
                [selectlessOutlet]="StrOrTemplateComponent"
                [selectlessOutletInputs]="selectorlessInput | pure: row : { item$: itemData }"
              ></ng-container>
            }
          }
        </tbody>
      }
      @let footList = footList$$();
      @if (footList.length) {
        <tfoot>
          @for (item of footList; track $index) {
            <ng-container
              [selectlessOutlet]="StrOrTemplateComponent"
              [selectlessOutletInputs]="selectorlessInput | pure: item"
            ></ng-container>
          }
        </tfoot>
      }
    </table>
  </div>
</ng-template>
