<ng-template #iconTemp let-item let-disableButton="disableButton">
  @if (item.option.templateRef) {
    <ng-container
      *ngTemplateOutlet="item.option.templateRef; context: { $implicit: item }"
    ></ng-container>
  } @else if (item.option.label) {
    @if (disableButton) {
      <span [class]="item.option.class | mergeClass: commonClass()" (click)="item.onClick($event)">
        {{ item.option.label }}
      </span>
    } @else {
      <button
        [class]="item.option.class"
        (click)="item.onClick($event)"
        [disabled]="item.isLoading$()"
      >
        {{ item.option.label }}
      </button>
    }
  } @else {
    @let icon = item.option.icon;
    <mat-icon
      [class]="item.option.class"
      (click)="item.onClick($event)"
      [ariaDisabled]="item.isLoading$()"
      [inline]="icon.inline"
      [fontIcon]="icon.fontIcon"
      [fontSet]="icon.fontSet"
      [svgIcon]="icon.svgIcon"
    ></mat-icon>
  }
</ng-template>

<ng-template #templateRef let-attr="attributes">
  <div
    [class]="attr()?.class"
    [attributes]="attr()"
    [excludes]="['class']"
    class="{{ 'fab' | cssPrefix }}"
    [ngClass]="wrapperClass()"
  >
    @let defaultIcon = defaultIcon$$();
    <div tabindex="0" role="button">
      <ng-container
        *ngTemplateOutlet="iconTemp; context: { $implicit: defaultIcon, disableButton: true }"
      ></ng-container>
    </div>
    @if (closeIcon$$(); as closeIcon) {
      <div class="{{ 'fab-close' | cssPrefix }}" role="button" tabindex="0">
        <ng-container
          *ngTemplateOutlet="iconTemp; context: { $implicit: closeIcon, disableButton: true }"
        ></ng-container>
      </div>
    }
    @if (mainIcon$$(); as mainIcon) {
      <div class="{{ 'fab-main-action' | cssPrefix }}">
        <ng-container *ngTemplateOutlet="iconTemp; context: { $implicit: mainIcon }"></ng-container>
      </div>
    }

    @for (item of resolvedOptions$$(); track $index) {
      <ng-container *ngTemplateOutlet="iconTemp; context: { $implicit: item }"></ng-container>
    }
  </div>
</ng-template>
