<ng-template #templateRef let-attr="attributes">
  <div
    [attributes]="attr()"
    [excludes]="['class']"
    [class]="
      attr()?.class
        | mergeClass
          : ('rating' | cssPrefix)
          : wrapperClass$()
          : (half() ? ('rating-half' | cssPrefix) : undefined)
    "
  >
    <input
      type="radio"
      [name]="name"
      aria-label="{{ 0 }} rating"
      [checked]="value$() === 0"
      (change)="valueAndTouchedChange(0)"
      [class]="'rating-hidden' | cssPrefix"
      [disabled]="min() > 0"
    />
    @for (item of list(); track $index) {
      @let value2 = item + 1;
      @if (half()) {
        @let halfValue = item + 0.5;
        <input
          type="radio"
          [name]="name"
          aria-label="{{ halfValue }} rating"
          [checked]="value$() === halfValue"
          (change)="valueAndTouchedChange(halfValue)"
          [class]="itemClass$$() | mergeClass: 'mask mask-half-1' | cssPrefix"
          [disabled]="min() > halfValue"
        />
        <input
          type="radio"
          [name]="name"
          aria-label="{{ value2 }} rating"
          [checked]="value$() === value2"
          (change)="valueAndTouchedChange(value2)"
          [class]="itemClass$$() | mergeClass: 'mask mask-half-2' | cssPrefix"
          [disabled]="min() > value2"
        />
      } @else {
        <input
          type="radio"
          [name]="name"
          aria-label="{{ item + 1 }} rating"
          [checked]="value$() === item + 1"
          (change)="valueAndTouchedChange(item + 1)"
          [class]="itemClass$$() | mergeClass: 'mask mask-star' | cssPrefix"
          [disabled]="min() > value2"
        />
      }
    }
  </div>
</ng-template>
