<ng-template #templateRef>
  @let data = $any(content());
  @if (isString | pure: data) {
    {{ data }}
  } @else if (isTemplateRef | pure: data) {
    <ng-container *ngTemplateOutlet="$any(data)"></ng-container>
  } @else if (isSchema | pure: data) {
    <ng-container
      [selectlessOutlet]="data"
      [selectlessOutletInputs]="{ options: schemaOptions$$ }"
    ></ng-container>
  } @else if (isObject | pure: data) {
    @if (data['icon']; as icon) {
      <mat-icon
        [inline]="icon.inline"
        [fontIcon]="icon.fontIcon"
        [fontSet]="icon.fontSet"
        [svgIcon]="icon.svgIcon"
      ></mat-icon>
    }
    @if (data['title']) {
      <span>
        {{ data['title'] }}
      </span>
    }
  }
</ng-template>
