<ng-template #templateRef let-attr="attributes">
  <label
    [ngClass]="props$$()['type']"
    [class]="attr()?.class"
    [attributes]="attr()"
    [excludes]="['class']"
  >
    @let title = props$$()['title'];
    @let isEnd = props$$()['labelPosition'] === 'end';
    @if (title && !isEnd) {
      <span class="{{ 'label' | cssPrefix }}">{{ title }}</span>
    }
    <input type="text" placeholder="URL" />
    @if (title && isEnd) {
      <span class="{{ 'label' | cssPrefix }}">{{ title }}</span>
    }
  </label>
</ng-template>
