<ng-template #mainTemp>
  @for (field of children$$(); track field.id || $index) {
    <div
      class="{{ 'collapse' | cssPrefix }}"
      [class.join-item]="joinChild()"
      [class]="childClass()"
    >
      <input
        type="radio"
        [name]="childName | pure: multi() : $index"
        [checked]="!!field.props()['checked']"
      />
      <div class="{{ 'collapse-title' | cssPrefix }}">
        {{ childTitleFn() | pure: field }}
      </div>
      <div class="{{ 'collapse-content' | cssPrefix }}">
        <ng-container
          *ngTemplateOutlet="fieldTemplateRef(); context: { $implicit: field }"
        ></ng-container>
      </div>
    </div>
  }
</ng-template>
<ng-template #templateRef let-attr="attributes">
  @if (joinChild()) {
    <div
      class="{{ 'join join-vertical' | cssPrefix }}"
      [attributes]="attr()"
      [excludes]="['class']"
      [class]="attr()?.class"
    >
      <ng-container *ngTemplateOutlet="mainTemp"></ng-container>
    </div>
  } @else {
    <ng-container *ngTemplateOutlet="mainTemp"></ng-container>
  }
</ng-template>
