<ng-template #templateRef let-attr="attributes">
  @let title = props$$()['title'];
  @let isEnd = isEnd$$();
  <ng-template #requiredTemplate>
    @if (field$$().form.control?.required$$()) {
      <span>{{ title }}</span
      ><span class="text-error">*</span>
    }
  </ng-template>

  @if (labelInline$$()) {
    <label
      [class]="
        attr()?.class
          | mergeClass: (props$$()['floating'] ? ('floating-label' | cssPrefix) : undefined)
      "
      [attributes]="attr()"
      [excludes]="['class']"
    >
      @if (title && !isEnd) {
        <span class="{{ 'label' | cssPrefix }}">
          <ng-container *ngTemplateOutlet="requiredTemplate"></ng-container
        ></span>
      }
      <ng-container #fieldComponent></ng-container>
      @if (title && isEnd) {
        <span class="{{ 'label' | cssPrefix }}"
          ><ng-container *ngTemplateOutlet="requiredTemplate"></ng-container
        ></span>
      }
    </label>
  } @else {
    <div
      [class]="layout$$() | twPrefix | mergeClass: attr()?.class"
      [attributes]="attr()"
      [excludes]="['class']"
    >
      @if (title && !isEnd) {
        <label class="{{ 'label' | cssPrefix }}"
          ><ng-container *ngTemplateOutlet="requiredTemplate"></ng-container
        ></label>
      }
      <ng-container #fieldComponent></ng-container>
      @if (title && isEnd) {
        <label class="{{ 'label' | cssPrefix }}"
          ><ng-container *ngTemplateOutlet="requiredTemplate"></ng-container
        ></label>
      }
    </div>
  }
</ng-template>
