<ng-template #templateRef let-attr="attributes">
  <div
    role="tablist"
    [attributes]="attr()"
    [excludes]="['class']"
    [class]="attr()?.class | mergeClass: ('tabs' | cssPrefix) : wrapperClass$$()"
  >
    @for (field of children$$(); track $index) {
      @let item = field.props();
      <label
        role="tab"
        [class]="
          'tab'
            | cssPrefix
            | mergeClass: ($index === activatedIndex$() ? ('tab-active' | cssPrefix) : undefined)
        "
      >
        <input type="radio" [name]="name" />

        @if (item['icon']; as icon) {
          <mat-icon
            [inline]="icon.inline"
            [fontIcon]="icon.fontIcon"
            [fontSet]="icon.fontSet"
            [svgIcon]="icon.svgIcon"
          ></mat-icon>
        }
        @if (item['title']) {
          <span class="{{ 'tab-label' | cssPrefix }}">{{ item['title'] }}</span>
        }
      </label>
      <div [class]="'tab-content' | cssPrefix | mergeClass: tabContentClass()">
        <ng-container
          *ngTemplateOutlet="fieldTemplateRef(); context: { $implicit: field }"
        ></ng-container>
      </div>
    }
  </div>
</ng-template>
