<ng-template #templateRef let-attr="attributes">
  <div
    role="tablist"
    class="tabs"
    [attributes]="attr()"
    [excludes]="['class']"
    [class]="attr()?.class"
    [ngClass]="wrapperClass$$()"
  >
    @for (field of children$$(); track $index) {
      @let item = field.props();
      <label role="tab" class="tab" [class.tab-active]="$index === activatedIndex$()">
        <input type="radio" [name]="name" />

        @if (item['icon']; as icon) {
          <mat-icon
            [inline]="icon.inline"
            [fontIcon]="icon.fontIcon"
            [fontSet]="icon.fontSet"
            [svgIcon]="icon.svgIcon"
          ></mat-icon>
        }
        @if (item['title']) {
          <span class="dock-label">{{ item['title'] }}</span>
        }
      </label>
      <div class="tab-content bg-base-100 border-base-300 p-6">
        <ng-container
          *ngTemplateOutlet="fieldTemplateRef(); context: { $implicit: field }"
        ></ng-container>
      </div>
    }
  </div>
</ng-template>
