<ng-template #templateRef let-attr="attributes">
  @let optionTmp = optionTemplate();
  <div
    [attributes]="attr()"
    [excludes]="['class']"
    [class]="attr()?.class"
    [ngClass]="wrapperClass$()"
  >
    <div
      tabindex="0"
      role="button"
      class="{{ 'btn' | cssPrefix | mergeClass: 'm-1' | twPrefix }}"
      [class]="attr()?.class"
    >
      {{ content() }}
    </div>
    <ul
      tabindex="-1"
      class="{{ 'dropdown-content menu' | cssPrefix | mergeClass: optionsClass() }}"
    >
      @for (item of options(); track $index) {
        <li
          [class.tooltip]="!!item.description"
          [attr.data-tip]="item.description!"
          [ariaDisabled]="item.disabled"
          (click)="valueChange(item.value)"
        >
          @if (optionTmp) {
            <ng-container *ngTemplateOutlet="optionTmp; context: { $impicit: item }"></ng-container>
          } @else {
            {{ item.label }}
          }
        </li>
      }
    </ul>
  </div>
</ng-template>
