<div [class]="'toast' | cssPrefix | mergeClass: ('z-100' | twPrefix) : containerClass$$()">
  @for (item of toast.list$$(); track $index) {
    <div
      [class]="
        'alert alert-' + item.type | cssPrefix | mergeClass: 'w-fit break-all gap-1' | twPrefix
      "
    >
      <span>{{ item.message }}</span>
      @if (item.enableCopy) {
        <button
          class="btn btn-circle btn-ghost btn-xs tooltip"
          [cdkCopyToClipboard]="item.message"
          data-tip="copy"
        >
          <span class="material-icons">content_copy</span>
        </button>
      }
    </div>
  }
</div>
