<ng-template #templateRef let-attr="attributes">
  <button
    [attributes]="attr()"
    [excludes]="['class']"
    [class]="attr()?.class"
    (click)="onClick($event)"
    [disabled]="isLoading$() || disabled()"
    [ngClass]="wrapperClass$()"
  >
    @if (isLoading$() && !disableLoadingIcon()) {
      <span class="{{ 'loading loading-spinner' | cssPrefix }}"></span>
    }
    @if (isString | pure: content(); as content) {
      {{ content }}
    } @else {
      <ng-container *ngTemplateOutlet="content()"></ng-container>
    }
  </button>
</ng-template>
