<ng-template #templateRef let-attr="attributes">
  <ul
    [attributes]="attr()"
    [excludes]="['class']"
    [class]="attr()?.class | mergeClass: ('list' | cssPrefix)"
  >
    @let title = props$$()['title'];
    @if (title) {
      <li [class]="titleClass()">{{ title }}</li>
    }

    @for (field of children$$(); track $index) {
      <li [class]="'list-row' | cssPrefix">
        <ng-container
          *ngTemplateOutlet="fieldTemplateRef(); context: { $implicit: field }"
        ></ng-container>
      </li>
    }
  </ul>
</ng-template>
