<ng-template #templateRef let-attr="attributes">
  <div
    [class]="attr()?.class | mergeClass: 'flex items-center gap-2'"
    [attributes]="attr()"
    [excludes]="['class']"
  >
    @if (animatePing()) {
      <div class="{{ 'inline-grid *:[grid-area:1/1]' | twPrefix }}">
        <div class="{{ 'status' | cssPrefix }}" [ngClass]="wrapperClass$()"></div>
        <div class="{{ 'status' | cssPrefix }}" [ngClass]="wrapperClass$()"></div>
      </div>
    } @else {
      <div class="{{ 'status' | cssPrefix }}" [ngClass]="wrapperClass$()"></div>
    }
    @if (content(); as value) {
      <span>
        {{ value }}
      </span>
    }
  </div>
</ng-template>
