/* You can add global styles to this file, and also import other style files */
.icon.icon-logo {
  background-image: url('/logo.svg');
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  background-size: contain;
}
.cdk-global-overlay-wrapper {
  justify-content: center;
  align-items: center;
}
.cdk-overlay-pane {
  flex-direction: column;
}
cdk-dialog-container.cdk-dialog-container {
  overflow: hidden;
  flex: 1;
  display: flex;
}
input {
  outline: none !important;
}
