/* accordion */
@source inline("{collapse,collapse-title,collapse-content,collapse-arrow,collapse-plus,collapse-open,collapse-close}");
/* alert */
@source inline("{alert,alert-outline,alert-dash,alert-soft,alert-info,alert-success,alert-warning,alert-error,alert-vertical,alert-horizontal}");
/* avatar */
@source inline("{avatar,avatar-group,avatar-online,avatar-offline,avatar-placeholder}");
/* badge */
@source inline("{badge,badge-outline,badge-dash,badge-soft,badge-ghost,badge-neutral,badge-primary,badge-secondary,badge-accent,badge-info,badge-success,badge-warning,badge-error,badge-xs,badge-sm,badge-md,badge-lg,badge-xl}");
/* breadcrumbs */
@source inline("{breadcrumbs}");
/* button */
@source inline("{btn,btn-neutral,btn-primary,btn-secondary,btn-accent,btn-info,btn-success,btn-warning,btn-error,btn-outline,btn-dash,btn-soft,btn-ghost,btn-link,btn-active,btn-disabled,btn-xs,btn-sm,btn-md,btn-lg,btn-xl,btn-wide,btn-block,btn-square,btn-circle}");
/* calendar */
@source inline("{cally,pika-single,react-day-picker}");
/* card */
@source inline("{card,card-title,card-body,card-actions,card-border,card-dash,card-side,image-full,card-xs,card-sm,card-md,card-lg,card-xl}");
/* carousel */
@source inline("{carousel,carousel-item,carousel-start,carousel-center,carousel-end,carousel-horizontal,carousel-vertical}");
/* chatBubble */
@source inline("{chat,chat-image,chat-header,chat-footer,chat-bubble,chat-start,chat-end,chat-bubble-neutral,chat-bubble-primary,chat-bubble-secondary,chat-bubble-accent,chat-bubble-info,chat-bubble-success,chat-bubble-warning,chat-bubble-error}");
/* checkbox */
@source inline("{checkbox,checkbox-primary,checkbox-secondary,checkbox-accent,checkbox-neutral,checkbox-success,checkbox-warning,checkbox-info,checkbox-error,checkbox-xs,checkbox-sm,checkbox-md,checkbox-lg,checkbox-xl}");
/* collapse */
@source inline("{collapse,collapse-title,collapse-content,collapse-arrow,collapse-plus,collapse-open,collapse-close}");
/* countdown */
@source inline("{countdown}");
/* diff */
@source inline("{diff,diff-item-1,diff-item-2,diff-resizer}");
/* divider */
@source inline("{divider,divider-neutral,divider-primary,divider-secondary,divider-accent,divider-success,divider-warning,divider-info,divider-error,divider-vertical,divider-horizontal,divider-start,divider-end}");
/* dock */
@source inline("{dock,dock-label,dock-active,dock-xs,dock-sm,dock-md,dock-lg,dock-xl}");
/* drawerSidebar */
@source inline("{drawer,drawer-toggle,drawer-content,drawer-side,drawer-overlay,drawer-end,drawer-open,is-drawer-open:,is-drawer-close:}");
/* dropdown */
@source inline("{dropdown,dropdown-content,dropdown-start,dropdown-center,dropdown-end,dropdown-top,dropdown-bottom,dropdown-left,dropdown-right,dropdown-hover,dropdown-open,dropdown-close}");
/* fabSpeedDial */
@source inline("{fab,fab-close,fab-main-action,fab-flower}");
/* fieldset */
@source inline("{fieldset,label,fieldset-legend}");
/* fileInput */
@source inline("{file-input,file-input-ghost,file-input-neutral,file-input-primary,file-input-secondary,file-input-accent,file-input-info,file-input-success,file-input-warning,file-input-error,file-input-xs,file-input-sm,file-input-md,file-input-lg,file-input-xl}");
/* filter */
@source inline("{filter,filter-reset}");
/* footer */
@source inline("{footer,footer-title,footer-center,footer-horizontal,footer-vertical}");
/* hero */
@source inline("{hero,hero-content,hero-overlay}");
/* hover3DCard */
@source inline("{hover-3d}");
/* hoverGallery */
@source inline("{hover-gallery}");
/* indicator */
@source inline("{indicator,indicator-item,indicator-start,indicator-center,indicator-end,indicator-top,indicator-middle,indicator-bottom}");
/* textInput */
@source inline("{input,input-ghost,input-neutral,input-primary,input-secondary,input-accent,input-info,input-success,input-warning,input-error,input-xs,input-sm,input-md,input-lg,input-xl}");
/* joinGroupItems */
@source inline("{join,join-item,join-vertical,join-horizontal}");
/* kbd */
@source inline("{kbd,kbd-xs,kbd-sm,kbd-md,kbd-lg,kbd-xl}");
/* label */
@source inline("{label,floating-label}");
/* link */
@source inline("{link,link-hover,link-neutral,link-primary,link-secondary,link-accent,link-success,link-info,link-warning,link-error}");
/* list */
@source inline("{list,list-row,list-col-wrap,list-col-grow}");
/* loading */
@source inline("{loading,loading-spinner,loading-dots,loading-ring,loading-ball,loading-bars,loading-infinity,loading-xs,loading-sm,loading-md,loading-lg,loading-xl}");
/* mask */
@source inline("{mask,mask-squircle,mask-heart,mask-hexagon,mask-hexagon-2,mask-decagon,mask-pentagon,mask-diamond,mask-square,mask-circle,mask-star,mask-star-2,mask-triangle,mask-triangle-2,mask-triangle-3,mask-triangle-4,mask-half-1,mask-half-2}");
/* menu */
@source inline("{menu,menu-title,menu-dropdown,menu-dropdown-toggle,menu-disabled,menu-active,menu-focus,menu-dropdown-show,menu-xs,menu-sm,menu-md,menu-lg,menu-xl,menu-vertical,menu-horizontal}");
/* browserMockup */
@source inline("{mockup-browser,mockup-browser-toolbar}");
/* codeMockup */
@source inline("{mockup-code}");
/* phoneMockup */
@source inline("{mockup-phone,mockup-phone-camera,mockup-phone-display}");
/* windowMockup */
@source inline("{mockup-window}");
/* modal */
@source inline("{modal,modal-box,modal-action,modal-backdrop,modal-toggle,modal-open,modal-top,modal-middle,modal-bottom,modal-start,modal-end}");
/* navbar */
@source inline("{navbar,navbar-start,navbar-center,navbar-end}");
/* pagination */
@source inline("{join,join-item,join-vertical,join-horizontal}");
/* progress */
@source inline("{progress,progress-neutral,progress-primary,progress-secondary,progress-accent,progress-info,progress-success,progress-warning,progress-error}");
/* radialProgress */
@source inline("{radial-progress}");
/* radio */
@source inline("{radio,radio-neutral,radio-primary,radio-secondary,radio-accent,radio-success,radio-warning,radio-info,radio-error,radio-xs,radio-sm,radio-md,radio-lg,radio-xl}");
/* rangeSlider */
@source inline("{range,range-neutral,range-primary,range-secondary,range-accent,range-success,range-warning,range-info,range-error,range-xs,range-sm,range-md,range-lg,range-xl}");
/* rating */
@source inline("{rating,rating-half,rating-hidden,rating-xs,rating-sm,rating-md,rating-lg,rating-xl}");
/* select */
@source inline("{select,select-ghost,select-neutral,select-primary,select-secondary,select-accent,select-info,select-success,select-warning,select-error,select-xs,select-sm,select-md,select-lg,select-xl}");
/* skeleton */
@source inline("{skeleton,skeleton-text}");
/* stack */
@source inline("{stack,stack-top,stack-bottom,stack-start,stack-end}");
/* stat */
@source inline("{stats,stat,stat-title,stat-value,stat-desc,stat-figure,stat-actions,stats-horizontal,stats-vertical}");
/* status */
@source inline("{status,status-neutral,status-primary,status-secondary,status-accent,status-info,status-success,status-warning,status-error,status-xs,status-sm,status-md,status-lg,status-xl}");
/* steps */
@source inline("{steps,step,step-icon,step-neutral,step-primary,step-secondary,step-accent,step-info,step-success,step-warning,step-error,steps-vertical,steps-horizontal}");
/* swap */
@source inline("{swap,swap-on,swap-off,swap-indeterminate,swap-active,swap-rotate,swap-flip}");
/* tabs */
@source inline("{tabs,tab,tab-content,tabs-box,tabs-border,tabs-lift,tab-active,tab-disabled,tabs-top,tabs-bottom,tabs-xs,tabs-sm,tabs-md,tabs-lg,tabs-xl}");
/* table */
@source inline("{table,table-zebra,table-pin-rows,table-pin-cols,table-xs,table-sm,table-md,table-lg,table-xl}");
/* textRotate */
@source inline("{text-rotate}");
/* textarea */
@source inline("{textarea,textarea-ghost,textarea-neutral,textarea-primary,textarea-secondary,textarea-accent,textarea-info,textarea-success,textarea-warning,textarea-error,textarea-xs,textarea-sm,textarea-md,textarea-lg,textarea-xl}");
/* themeController */
@source inline("{theme-controller}");
/* timeline */
@source inline("{timeline,timeline-start,timeline-middle,timeline-end,timeline-snap-icon,timeline-box,timeline-compact,timeline-horizontal,timeline-vertical}");
/* toast */
@source inline("{toast,toast-start,toast-center,toast-end,toast-top,toast-middle,toast-bottom}");
/* toggle */
@source inline("{toggle,toggle-primary,toggle-secondary,toggle-accent,toggle-neutral,toggle-success,toggle-warning,toggle-info,toggle-error,toggle-xs,toggle-sm,toggle-md,toggle-lg,toggle-xl}");
/* tooltip */
@source inline("{tooltip,tooltip-content,tooltip-top,tooltip-bottom,tooltip-left,tooltip-right,tooltip-open,tooltip-neutral,tooltip-primary,tooltip-secondary,tooltip-accent,tooltip-info,tooltip-success,tooltip-warning,tooltip-error}");
/* validator */
@source inline("{validator,validator-hint}");