name: build

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --prefer-offline

      - name: Run test:ci
        run: npm run test:ci

      - name: Build project
        run: npm run build
      - name: Build project
        run: rm -rf ./dist/test-out
      - name: Build project
        run: npm run lint
      - name: Setup npmrc
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc
      - run: npm run publish-only
