name: update-preset-css
on:
  workflow_dispatch:
    inputs:
      version:
        description: "daisyui version"
        required: true
        type: string

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: init
        run: |
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@gmail.com"
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          repository: "saadeghi/daisyui"
          ref: "${{inputs.version}}"
          path: "daisyui"
      - name: install-node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - run: npm ci
      - run: |
          npx tsx ./script/daisyui-css-collection.ts ../daisyui
          git status
          ls -lh ./projects/daisyui/preset-css
          git add .
          git commit -m "update daisyui preset build"
      - run: npm run test:ci
      - run: npm run build
